<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      class="no-js" lang="ko">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div>
    <p>여기는 로그인이 성공한 About 페이지 입니다!</p>
    <form class="form-horizontal" id="loginForm" role="form" method="get" action="/admin">
        <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
            Admin 권한이 필요한 Admin 페이지로 이동
        </button>
    </form>
</div>

</body>
</html>